
{% extends 'main/header.html' %}

{% block content %}
<br>
<br>
<style>
    div.a {
            text-align: center;
    }
    </style>
<div class='a'>
<font color="Blue">
<h1>Hello {{user.username|title}}</h1>
<h4>Deduction Details</h4>
</font>

<font size="5" color="purple">
{%for tut in tutorials%}
{%if user.username|title == tut.pan.pan%}
<p><b>Pan</b>: {{tut.pan}}</p>
<p><b>Life insurance</b>: {{tut.Life_insurance}}</p>
<p><b>PPF</b>: {{tut.PPF}}
<p><b>NSC</b>: {{tut.NSC}}
<p><b>Tax saving fd</b>: {{tut.Tax_saving_fd}}
<p><b>Stamp duty reg</b>: {{tut.Stamp_duty_reg}}
<p><b>EPF</b>: {{tut.EPF}}
<p><b>ELSS</b>: {{tut.ELSS}}
<p><b>Total Tax Exemption = </b>: {{tut.totded1}}</p>
{%endif%}
{%endfor%}
</font>
</div>
{%endblock%}